[Unit]
Description=PowerTop auto-tune
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/powertop --auto-tune
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
